name: Build ESP32S3 Firmware

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PlatformIO
        run: pip install -U platformio

      - name: Giải nén thư viện Audio
        run: |
          mkdir -p lib
          unzip -o lib/ESP32-AudioI2S_3.0.4.zip -d lib/

      - name: Cập nhật và build
        run: |
          platformio update
          platformio run --environment lolin_s3_mini

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/lolin_s3_mini/firmware.bin
