
name: Build ESP32S3 Firmware

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cài đặt PlatformIO
        run: pip install platformio

      - name: Giải nén thư viện Audio
        run: unzip lib/audioI2.zip -d lib/

      - name: Cập nhật và build
        run: |
          platformio update
          platformio run --environment lolin_s3_mini

      - name: Upload file .bin
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/lolin_s3_mini/firmware.bin
